# App VAriables
APP_NAME=Falcon THF Integration Services
APP_ENV=development
API_V1_PREFIX=/api/v1
DOCS_ENABLED=true

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=***
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=falcon_thf_db
DATABASE_ECHO=false

# Use one or more comma-separated long random secrets.
API_KEYS=replace-with-a-long-random-secret

# Maconomy Configuration
MACONOMY_BASE_URL=https://base-url-api.com
MACONOMY_SHORTNAME=abcd104
MACONOMY_USERNAME="UserName"
MACONOMY_PASSWORD="***"

# CaseWare Cloud Configuration
CASEWARE_CLOUD_BASE_URL=https://subdomain.domain.com/firmname/ms/caseware-cloud
CASEWARE_CLOUD_CLIENT_ID=uuid-***
CASEWARE_CLOUD_CLIENT_SECRET=***
CASEWARE_CLOUD_LANGUAGE=en

# CCH
CCH_AXCESS_URL=https://sandboxworkflow.cchaxcess.com
CCH_AXCESS_API_KEY="apikey-***"
CCH_AXCESS_USER_NAME=test@email.com
CCH_AXCESS_PASSWORD="***"

# Paycor
PAYCOR_BASE_URL=https://paycor-api-base-url.com
PAYCOR_CLIENT_ID=***
PAYCOR_CLIENT_SECRET=***
PAYCOR_LANGUAGE=en
PAYCOR_REFRESH_TOKEN=***
PAYCOR_SUBSCRIPTION_KEY=***
PAYCOR_LEGAL_ENTITY_ID=*** # integer value
PAYCOR_TENANT_ID=*** # integer value

# SAP Concur Configuration
SAP_CONCUR_CLIENT_ID= ***
SAP_CONCUR_CLIENT_SECRET=***
SAP_CONCUR_URL="https://sap-concur-base-url.com"
SAP_CONCUR_REFRESH_TOKEN=***
 
# Scheduler Configuration
SCHEDULER_ENABLED=true
SCHEDULER_API_BASE_URL=http://127.0.0.1:8000
SCHEDULER_API_KEY=replace-with-a-long-random-secret # same as one of the API key in this file
SCHEDULER_INTERVAL_MINUTES=10
SCHEDULER_REQUEST_TIMEOUT_SECONDS=600